.error {
    &__container {
        height: 15px;
    }

    &__text {
        font-size: 12px;
        color: #ff00005c;
        opacity: 0;
        animation: opacityOn 4s normal forwards;
    }

    @keyframes opacityOn {
        0% {
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        20% {
            opacity: 0;
        }
        30% {
            opacity: 1;
        }
        40% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        60% {
            opacity: 0;
        }
        70% {
            opacity: 1;
        }
        80% {
            opacity: 0;
        }
        90% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}